* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

header {
    background: rgb(42, 23, 189); 
    color: white;
    text-align: center;
    padding: 20px 0;
}
header h2 {
    font-size: 2.5em;
    margin-top: 10px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; 
    max-width: 600px;
    margin: 20px auto;
    flex-wrap: wrap;
}

.homepage-img {
    width: 45%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.quiz-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 600px;
    margin: 20px auto;
    
}

.quiz-container button {
    background-color: #547cf4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
    width: 100%;
}

.quiz-container button:hover {
    background-color: #103fce;
}

.quiz-container button:active {
    background-color: #910dde;
}

.quiz-container p {
    font-size: 1.2em;
    margin-top: 10px;
}

footer {
    text-align: center;
    margin-top: 50px;
    font-size: 0.9em;
    color: #888;
}

footer p {
    padding: 10px;
}

#question-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

#question-container p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.quiz-preview {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
}

.quiz-preview h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #2d3a3f;
}

.quiz-preview a button {
    background-color: #3761df;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1.2em;
    transition: 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    width: 100%;
}

.quiz-preview a button:hover {
    background-color: #103fce;
    transform: scale(1.05);
}

.quiz-preview a button:active {
    background-color: #910dde;
    transform: scale(0.98);
}